.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.tech__header {
  padding-top: 36px;
  padding-left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 227px;
}

.tech__header-logo {
  background: silver;
  width: 266px;
  height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech__header-page {
  font-size: 2rem;
  font-family: AvenirDemi;
}

.tech__sort-div {
  width: 260px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 60px;
}

.tech__sort-text {
  width: 200px;
  background: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech__sort-button {
  width: 60px;
  border: none;
  color: white;
  background: silver;
}

.tech__list {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 90vw;
  margin-bottom: 32px;
}

.tech__vid {
  height: 213px;
  width: 397px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.tech__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60.9vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: silver;
  padding-left: 34px;
  padding-right: 30px;
}

@font-face {
  font-family: "AvenirRegular";
  weight: 400;
  src: url("../assets/global-fonts/avenir-regular.otf");
}

@font-face {
  font-family: "AvenirDemi";
  weight: 500;
  src: url("../assets/global-fonts/avenir-demi.otf");
}

@font-face {
  font-family: "AvenirBold";
  weight: 600;
  src: url("../assets/global-fonts/avenir-bold.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AvenirRegular;
}

.carousel-wrapper {
  width: 405px;
}

.slide {
  height: 200px;
}

.thumb {
  height: 40px;
}

.carousel .thumb {
  border: none;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: none;
}

.carousel .control-dots .dot {
  outline: none;
}

.carousel .control-dots .dot.selected {
  outline: none;
}

.app {
  z-index: 1;
}
/*# sourceMappingURL=main.css.map */